body {
	background-color: #303030;
	color: #ffffff;
	font-family: 'lato', sans-serif;
	font-size: 20px;
}

#container {
	width: 1000px;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.rectangle {
	width: 960px;
	margin: 20px;
	text-align: center;
}

.square {
	width: 50%;
	float: left;
}

#logo {
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	width: 600px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}

#clock {
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}

.tile1 {
	float: left;
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #3095d3;
	text-align: center;
}

.tile1:hover {
	background-color: #1083b1;
}

.tile2 {
	float: left;
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #666666;
	text-align: center;
}

.tile2:hover {
	background-color: #555555;
}

.tile3 {
	float: left;
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #2de736;
	text-align: center;
}

.tile3:hover {
	background-color: #1bc514;
}

.tile4 {
	float: left;
	margin: 10px;
	width: 480px;
	height: 142px;
	background-color: #ee5232;
	text-align: center;
	font-size: 24px;
}

.tile5 {
	margin: 10px;
	width: 420px;
	height: 244px;
	background-color: #666666;
	text-align: justify;
	padding: 30px;
}

.tt {
	float: left;
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #000000;
}

.tt:hover {
	background-color: #111111;
}

.gh {
	float: left;
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #c9510c;
}

.gh:hover {
	background-color: #a7400a;
}

.yt {
	float: left;
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #ff0000;
}

.yt:hover {
	background-color: #cc0000;
}

.fb {
	float: left;
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #104590;
}

.fb:hover {
	background-color: #2156a1;
}

a.tilelink {
	color: #ffffff;
	text-decoration: none;
	display: block; /* behave like a block, like a div*/
	width: 230px;
	height: 142px;
}
