body
{
    margin: 0;
    background-color: #2F3336;
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1
{
    text-align: center;
    color: #1783d0;
}

h2
{
    text-align: center;
    color: #1783d0;
}

.content{
    width: 1000px;
    margin: auto;
    text-align: justify;
}

.content p
{
    padding-left: 40px;
    padding-right: 40px;
    line-height: 24px;
}


#logo a
{
    text-decoration: none;
    color: #efefef;
}

#logo h1
{
    color: #efefef;
}

#logo
{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 2px;
    text-align: center;
}


#logo a h1
{
    display: inline-block;
    vertical-align: middle;
}

#logo a img
{
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

.menu
{
    background-color: #1783d0;
    min-height: 48px;
    line-height: 200%;
    text-align: center;
    margin-bottom: 50px;
}

#topnav ul
{
    list-style-type: none; 
}

#topnav li
{
    display: inline-block;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    border-right: 2px;
    border-right: dotted;
    border-color: #0a2b42;
    vertical-align: middle;
}

#topnav li:first-child
{
    border-left: dotted;
    border-color: #0a2b42;
}

#topnav a
{
    text-decoration: 0;
    color: #0a2b42
}

#topnav a:hover
{
    text-decoration: 0;
    color: #72a1c4;
}

#Philosophers
{
    margin-top: 50px;  
}

.author{
    display: inline-block;
    text-align: center;
}

.author
{
    margin-top: 10px;
}

.author img
{
    opacity: 0.8;
    width: 250px;
    height: 250px;
}

.author img:hover
{
    opacity: 1;
}

#Latest
{
    margin-top: 50px; 
    padding-top: 1px;
    padding-bottom: 20px;
    background-color: #191d21;
}

.Post
{
    margin: auto;
    margin-bottom: 25px;
    height: 100px;
    width: 800px;
    background-color: #2F3336;
    padding: 15px;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 1px 2px 2px 1px #09273d
}

.Post .ppic img
{
    float: left;
    padding: 5px;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.Post .title
{
    float: left;

}

.Post p
{
    margin-top: -10px;
    display: inline-block;
}

#Contactme
{
    padding-bottom: 25px;
}

#showmore
{
    color: #1783d0;
}

#Contactbutton
{
    margin: auto;
    margin-top: 60px;
    background-color: #1783d0;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    box-shadow: 1px, 5px, 1px #efefef;
}

#Contactbutton a
{
    text-decoration: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #efefef;
    box-shadow: 1px, 2px, 3px #efefef;
}

footer p
{
    margin-top: -3px;
    background-color: #191d21;
}

#socials
{
    background-color: #191d21;
    text-align: center;
    height: 140px;
    border-top: 3px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #1783d0;
    border-style: solid;
    
}

.square
{
    display: inline-block;
    margin: 10px;
    width: 120px;
    height: 120px;
    background-color: #1783d0;
    text-align: center;
    font-size: 24px;
    line-height: 90px;
    border-radius: 10px;
    
}

.square a
{
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 120px;
    height: 120px;

}

#tt:hover
{
    background-color: black;
}

#gh:hover
{
    background-color: orangered;
}

#yt:hover
{
    background-color: red;
}

#fb:hover
{
    background-color: rgb(41, 41, 252);
}