body {
  background-image: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-size: 300%;
  font-size: 0;
}

#container {
  font-size: 0;
  width: 960px;
  height: 1000px;
  margin: 0 auto;
  color: #ffeded;
}

header {
  display: inline-block;
  font-size: medium;
  vertical-align: top;
  background-color: #ffededef;
  color: black;
  text-align: center;
  width: 960px;
  height: 160px;
}

header p {
  display: inline-block;
  color: #adadad;
  font-size: 20px;
  margin-left: 30px;
}

header h1 {
  display: inline-block;
  margin-right: 30px;
}

header nav {
  width: 960px;
  height: 74px;
  border-color: #dedede;
  border-bottom: solid;
  border-top: solid;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin: 6px 20px;
  padding-right: 30px;
  border-right: dotted;
}

header nav ul li:first-child {
  padding-left: 30px;
  border-left: dotted;
}

header nav ul li a {
  text-decoration: none;
  color: #adadad;
  font-size: 24px;
}

main {
  font-size: medium;
  display: inline-block;
  vertical-align: top;
  background-color: #efefef;
  height: 735px;
  width: 738px;
}

article {
  color: #000;
  width: 675px;
  height: 675px;
  padding: 30px;
}

article img {
  float: left;
  padding: 15px;
  width: 175px;
  height: 120px;
}

article .rightimg {
  float: right;
}

article p {
  margin: 0 15px;
}
aside {
  font-size: medium;
  display: inline-block;
  background-color: #ffeded;
  color: black;
  height: 705px;
  width: 189px;
  border-left: solid;
  border-color: #dedede;
  padding: 15px;
}

aside ul li {
  margin-bottom: 20px;
}

aside ul li a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
}

.ad {
  display: block;
  margin: auto;
  margin-top: 35px;
  height: 450px;
  width: 120px;
  border: #dedede;
  border-style: solid;
}

footer {
  display: inline-block;
  vertical-align: top;
  font-size: medium;
  background-color: #adadad;
  color: black;
  width: 960px;
  height: 105px;
}

#copyrightinfo {
  margin: auto;
  vertical-align: bottom;
  text-align: center;
}

#rightsec {
  text-align: right;
  float: right;
  padding-right: 20px;
}

#leftsec {
  float: left;
  padding-right: 20px;
}

#rightsec p {
  margin: 5px 20px;
}
