### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule Web-developer-OddWebDev index.html
RewriteRule Who-Am-I whoami.html
RewriteRule Education education.html
RewriteRule contact-me contactme.html
RewriteRule what-i-do whatido.html